:root {
    --pink: lab(96.133%, 1.002%, 0.785%);
    --blue: lab(15.782%, 2.825%, -7.707%);
    --silver: lab(82.765%, 0%, 0%);
    --french: lab(68.164%, 0.227%, -0.83%);
    --lightblue: lab(87.648%, -12.066%, -9.667%);
    --white: lab(92.488%, 0.811%, -3.988%);
}