@keyframes spin {
    from {
        transform: perspective(600px) rotateZ(-15deg);
    }

    to {
        transform: perspective(600px) rotateZ(15deg);
    }
}

.maingrid__letter {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.sidegrid__wraptext {
    font-size: calc(var(--fontsize) * 0.5);
    display: inline-block;
    /* flex-wrap: wrap; */
    z-index: 2;
    text-transform: uppercase;
    height: fit-content;
    text-align: center;
    line-height: 1.05;
}


.sidegrid__wraptext:nth-child(n-2) {
    color: var(--french);
}
.sidegrid__wraptext:nth-child(2) {
    transform: translateZ(-250px);
}


/* targeting the 3rd element without an h2 after it */
.sidegrid__wraptext:nth-child(3):not(:has( + .sidegrid__wraptext--lowercase)) {
    color: var(--silver);
    transform: translate3D(10px, 0, -550px);
}

.sidegrid__wraptext--lowercase:nth-child(1) {
    color: var(--silver);
    transform: translateZ(-550px);
}
.sidegrid__wraptext--lowercase:nth-child(2) {
    transform: translate3D(10px, 0, -250px);
}

.sidegrid__wraptext--lowercase:nth-child(n+2) {
    color: var(--french);
}


.sidegrid__wraptext--lowercase {
    text-transform: lowercase;
}

/*Specific selectors*******************************/
/* Formatting for all but first child */
.maingrid__letter:nth-child(1) {
    grid-area: 1 / 1 / span 5 / span 5;
    font-size: 50rem;
    justify-content: start;
    align-items: start;
    z-index: 0;
    line-height: 0.9;
    transform: rotate(-15deg) translateX(-150px) translateZ(-10px);
    color: var(--lightblue);
    
}

/* s and k behind the b */
.maingrid__letter:not(:first-child) {
    align-self: center;
    font-size: calc(var(--fontsize) * 0.5);
    z-index: 1;
}

/* s & k behind b */
.maingrid__letter:nth-child(n+3):nth-child(-n+4) {
    z-index: -1;
}
/*------------------------------------------------*/

/*Letter positioning*******************************/
.maingrid__letter:nth-child(2) {
    grid-area: 4 / 1 / span 2 / span 2;
}

.maingrid__letter:nth-child(3) {
    grid-area: 4 / 2 / span 2 / 2;
}

.maingrid__letter:nth-child(4) {
    grid-area: 4 / 2 / span 2 / span 2; 
}

.maingrid__letter:nth-child(5) {
    grid-area: 4 / 3 / span 2 / 3;
}

.maingrid__letter:nth-child(6) {
    grid-area: 4 / 3 / span 2 / span 2;   
}

.maingrid__letter:nth-child(7) {
    grid-area: 5 / 3 / 5 / 3;
    z-index: -1;
}

.maingrid__letter:nth-child(8) {
    grid-area: 5 / 3 / 5 / span 2;
}

.maingrid__letter:nth-child(9) {
    grid-area: 5 / 4 / 5 / 4;
}

.maingrid__letter:nth-child(10) {
    grid-area: 5 / 4 / 5 / span 2;
}

.maingrid__letter:nth-child(11) {
    grid-area: 5 / 5 / 5 / 5;
}
/*------------------------------------------------*/