@keyframes spin {
    from {
        transform: perspective(600px) rotateZ(-15deg);
    }

    to {
        transform: perspective(600px) rotateZ(15deg);
    }
}

.maingrid__letter {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.sidegrid__wraptext {
    font-size: calc(var(--fontsize) * 0.5);
    display: inline-block;
    /* flex-wrap: wrap; */
    z-index: 2;
    text-transform: uppercase;
    height: fit-content;
    text-align: center;
    line-height: 1.05;
}

.maingrid__letter:nth-child(1) {
    grid-area: 1 / 1 / span 5 / span 5;
    font-size: 50rem;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.maingrid__letter:not(:first-child) {
    align-self: end;
}

.maingrid__letter:nth-child(2) {
    grid-area: 2 / 2 / 2 / span 2;
    transform: perspective(600px) rotateY(10deg);
}

.maingrid__letter:nth-child(3) {
    grid-area: 2 / 3 / 2 / 3;
    transform: perspective(600px) rotateY(20deg);
    font-size: calc(var(--fontsize) * 0.95);
}

.maingrid__letter:nth-child(4) {
    grid-area: 2 / 3 / 2 / span 2;
    transform: perspective(600px) rotateY(30deg);
    font-size: calc(var(--fontsize) * 0.9);
}

.maingrid__letter:nth-child(5) {
    grid-area: 2 / 4 / 2 / 4;
    transform: perspective(600px) rotateY(40deg);
    font-size: calc(var(--fontsize) * 0.85);
}

.maingrid__letter:nth-child(6) {
    grid-area: 2 / 4 / 2 / span 2;
    transform: perspective(600px) rotateY(50deg);
    font-size: calc(var(--fontsize) * 0.8);
}

.maingrid__letter:nth-child(7) {
    grid-area: 1 / 3 / span 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maingrid__letter:nth-child(8) {
    grid-area: 1 / 4 / span 3 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maingrid__letter:nth-child(9) {
    grid-area: 1 / 5 / span 3 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maingrid__letter:nth-child(10) {
    grid-area: 1 / 6 / span 3 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maingrid__letter:nth-child(11) {
    grid-area: 3 / 1 / span 2 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}