body {
  margin: 0;
  padding-right: 0;
  height: 100vh;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

h3,p {
  margin: 0;
  padding: 0;
}



.container {
  overflow: hidden;
  display: grid;
  grid-template-columns: 250px 500px 250px;
  grid-template-rows: 0 750px;
  justify-content: center;
  grid-column-gap: 25px;
  padding-bottom: 10px; /* Stops the box around maingrid from being cutoff */
}

.maingrid {
  width: fit-content;
  height: 750px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 150px);
  perspective: 1000px;
  overflow: hidden;
  border: 5px solid var(--blue);
  border-radius: 10px;
  /* box-shadow: 0 0 10px var(--black); -- LAB colours do not support transparency :(  */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.10);
  
}

.sidegrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 750px;
  overflow: hidden;
  perspective: 1000px;
} 