body {
  margin: 0;
  padding: 0;
  background-color: var(--pink);
}

.container {
  margin: 5%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0 750px;
}

.maingrid {
  width: 350px;
  height: 750px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 75px);
  grid-template-rows: repeat(5, 150px);
}

.sidegrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 750px;
} 